@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: rgb(1, 14, 26);
}
a {
  text-decoration: none;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: white;
}
button {
  letter-spacing: 1.3px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 20px;
  color: white;
  background-color: #27b67a;
}
