.About-page-intro {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap:wrap-reverse;
  height: 100%;
  margin-top: 70px;
}
.About-page-intro .About-page-left {
  height: 100%;
  padding: 1rem;
  max-width: 550px;
}

.About-page-intro .About-page-left h2 {
  font-size: 35px;
  text-align: start;
}

.About-page-intro .About-page-left p {
  line-height: 1.5;
  margin-top: 15px;
  letter-spacing: 0.2px;
  color: rgb(99, 98, 98);
}

.About-page-left a button {
  padding: 12px 20px;
  margin-top: 20px;
  font-size: 13px;
  letter-spacing: 0.2px;
}

.About-page-intro .About-page-right {
  max-width: 700px;
}
@media screen and (max-width: 1200px) {
  .About-page-right .About-page-img-stack .About-page-img {
    width: 350px;
    height: 350px;
  }
}


@media screen and (max-width: 900px) {
  .About-page-intro {
    margin-top: 50px;
  }
  .About-page-intro .About-page-left {
    max-width: 450px;

  }
  .About-page-right .About-page-img-stack .About-page-img {
    width: 350px;
    height: 350px;
  }

  .About-page-intro .About-page-left h2 {
    font-size: 28px;
  }

  .About-page-intro .About-page-left p {
    font-size: 15px;
  }

  .About-page-left a button {
    padding: 10px 23px;
    font-size: 12px;
  }
  .About-page-right .About-page-img-stack .About-page-img {
    width: 250px;
    height: 250px;
  }
}


@media screen and (max-width: 768px) {
  .About-page-intro {
   justify-content: center;
  }

  .About-page-intro .About-page-left {
    max-width: 400px;
    text-align: center;

  }
  .About-page-right .About-page-img-stack .About-page-img {
    display: none;
  }
  .About-page-intro .About-page-left h2 {
    text-align: center;
    font-size: 25px;
  }
  .About-page-intro .About-page-left p {
    font-size: 13px;
    margin-top: 8px;
  }
  .About-page-left a button {
    padding: 10px 20px;
    font-size: 11px;
  }

}
@media screen and (max-width: 660px) {
  .About-page-intro {
  margin-top: 20px;
  }
  .About-page-intro .About-page-left h2 {
    font-size: 14px;
  }

  .About-page-intro .About-page-left p {
    font-size: 8px;
  }

  .About-page-left a button {
    padding: 7px 12px;
    font-size: 7px;
  }
}
