.About-page-intro {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
  height: 100%;
  margin-top: 100px;
}
.About-page-intro .About-page-left {
  height: 100%;
  max-width: 550px;
}

.About-page-intro .About-page-left h2 {
  font-size: 3.2vw;
  letter-spacing: 1px;
  line-height: 1.4;
  font-weight: bold;
  position: relative;
  color: white;
  text-align: start;
}

.About-page-intro .About-page-left p {
  line-height: 1.6;
  font-size: 20px;
  margin-top: 13px;
  letter-spacing: 0.2px;
}

.About-page-left a button {
  margin-top: 25px;
}

.About-page-intro .About-page-right {
  max-width: 700px;
}
@media screen and (max-width: 1200px) {
  .About-page-right .About-page-img-stack .About-page-img {
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 900px) {
  .About-page-intro {
    margin-top: 50px;
  }
  .About-page-intro .About-page-left {
    max-width: 450px;
  }
  .About-page-right .About-page-img-stack .About-page-img {
    width: 350px;
    height: 350px;
  }

  .About-page-intro .About-page-left h2 {
    font-size: 3vw;
  }

  .About-page-intro .About-page-left p {
    font-size: 15px;
  }

  .About-page-right .About-page-img-stack .About-page-img {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 768px) {

  .About-page-intro .About-page-left {
    max-width: 360px;
    padding: 40px 0;

  }
  .About-page-intro .About-page-left h2 {
    font-size: 3.5vw;
  }
  .About-page-intro .About-page-left p {
    font-size: 15px;
    margin-top: 8px;
  }
}
@media screen and (max-width: 660px) {
  .About-page-intro {
    margin-top: 50px;
  }
  .About-page-intro .About-page-left h2 {
    font-size: 5.9vw;
  }

  .About-page-intro .About-page-left p {
    font-size: 12px;
  }
}
