.top-navbar{
  padding: 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  border: 1px solid #47d669;
  border-radius: 50px;
  padding: 20px 100px;
}

.navbar-logo a {
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  font-size: 18px;
  color: white;
  font-weight: 600;
  padding: 0;
}
.navbar-link.active{
  color:  #27b67a;
}

.navbar-item {
  margin: 0 16px;
  position: relative;
}

.navbar-link,
.dropdown-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.arrow {
  margin-left: 5px;
}

.up {
  transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
}

.dropdown-menu {
  position: absolute;
  top: 57px;
  left: 0;
  background-color:#27b67a;
  display: flex;
  flex-direction: column;
  width: 210px;
  list-style: none;
}

.dropdown-item {
  border-bottom: 1px solid white;
  padding: 13px 0;
}
.dropdown-item:hover {
  background-color: black;
  color: white;
}
.dropdown-item a {
  font-size: 15px;
  padding: 10px;
}

.dropdown-link {
  color: white;
  text-decoration: none;
}

.mobile-menu-icon {
  display: none;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
}

.mobile-menu-icon.open .bar {
  background-color: white;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: #333;
  transition: background-color 0.3s;
}

@media (max-width: 855px) {
  .navbar {
    border: 0;
  }
  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #191717;
    z-index: 1;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-item {
    margin: 0;
    padding: 20px;
  }

  .mobile-menu-icon {
    display: flex;
  }

  .dropdown-menu {
    position: static;
    width: 100%;
    background-color: transparent;
  }
  .navbar-logo a {
    font-size: 20px;
  }
  .mobile-menu-icon {
    font-size: 20px;
  }
}
@media (max-width: 655px) {
  .navbar {
    padding: 10px 40px;
  }
}

/* ... Other styles ... */
