.Quize-Que {
  text-align: center;
  padding: 30px;
}

.Quize-Que h1 {
  font-size: 28px;
  margin: 20px 0 50px 0;
}

@media screen and (max-width: 600px) {
  .Quize-Que h1 {
    font-size: 20px;
    margin: 10px 0 40px 0;
  }
}
